.App {
  text-align: center;
}


.App-header {
  background-color: #010409;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.dummyClass{
  color :#61dafb;
}
.postClass{
  color :#61dafb;
}
hr{
  color:#3098ff
}
fieldset{
  width:90%;
  margin:5px;
  background-color:#161b22 ;
  margin:20px;
  border-radius: 5px;
}
.sectionsA,.sectionsB,.sectionsC{
  border: 1px solid  #fff;
  padding:10px;
}
.sectionsA{
  background-color: orangered;
}
.sectionsB{
  background-color: rgb(255, 102, 46);
}
.sectionsC{
  background-color: rgb(248, 117, 69);
}